<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>

    <th:block th:insert="~{common/library :: head/script}"></th:block>
    <th:block th:insert="~{common/library :: head/link}"></th:block>
    <script th:src="@{/resources/js/customer.js}" src="../resources/js/customer.js"></script>

    <script th:src="@{/resources/js/header.js}" src="../../js/header.js"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/resources/css/header.css}" href="../../../css/header.css">
</head>
<body>
<th:block th:insert="~{/fragments/spinner :: #loader}"></th:block>
<div class="wrapper" style="display: none">
    <!-- Sidebar -->
    <nav th:replace="~{/common/menu :: nav}"></nav>

    <!-- Page Content  -->
    <div id="content">
        <!-- Header -->
        <nav th:replace="~{/common/header :: nav}"></nav>
        <div class="container">
            <h2 class="text-center">Quản lý khách hàng</h2>
            <form id="frmSearch" class="form-row d-flex justify-content-around align-items-center align-self-center">
                <div class="col-md-3 form-group">
                    <label for="usr1">Tên khách hàng:</label>
                    <input type="text" class="form-control" id="usr1" name="name">
                </div>
                <div class="col-md-3 form-group">
                    <label for="usr2">Người đại diện:</label>
                    <input type="text" class="form-control" id="usr2" name="representName">
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-search" onclick="search()">Tìm kiếm</button>
                    <button type="button" class="btn btn-search" data-toggle="modal" data-target="#addModal">Thêm</button>
                    <button type="button" class="btn btn-search" onclick="exportJsonFile()">Xuất file JSON</button>
                    <button type="button" class="btn btn-search" onclick="exportXMLFile()">Xuất file XML</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên công ty</th>
                        <th>Địa chỉ</th>
                        <th>Người đại diện</th>
                        <th>Tổng tiền đã mua</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="customerListTable">
                    <tr th:each="customer, state : ${customerList}">
                        <td><span th:text="${state.index + 1}"></span></td>
                        <td><span th:text="${customer.companyName}"></span></td>
                        <td><span th:text="${customer.address}"></span></td>
                        <td><span th:text="${customer.representName}"></span></td>
                        <td><span th:text="${customer.totalPrice}"></span></td>
                        <td>
                            <button type="button" class="btn btn-search" data-toggle="modal" data-target="#editModal" onclick="fillData(this)"
                                    th:data-id="${customer.id}"
                                    th:data-companyName="${customer.companyName}"
                                    th:data-address="${customer.address}"
                                    th:data-representName="${customer.representName}"
                                    th:data-totalPrice="${customer.totalPrice}"
                            >Sửa
                            </button>
                        </td>
                        <td><button type="button" class="btn btn-search" onclick="remove(this)" data-th-id="${customer.id}">Xóa</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm khách hàng</h5>
                </div>
                <div class="modal-body">
                    <form id="frmAdd" class="form-row">
                        <div class="form-group">
                            <label for="name">Tên công ty:</label>
                            <input type="text" class="form-control" placeholder="Enter company name" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" class="form-control" placeholder="Enter address" id="address" name="address">
                        </div>
                        <div class="form-group">
                            <label for="represent_name">Người đại diện:</label>
                            <input type="text" class="form-control" placeholder="Enter represent name" id="represent_name" name="represent_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-search" data-dismiss="modal" onclick="add()">Thêm</button>
                    <button type="button" class="btn btn-search" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa thông tin khách hàng</h5>
                </div>
                <div class="modal-body">
                    <form id="frmEdit" class="form-row">
                        <div class="form-group">
                            <label for="name1">Tên công ty:</label>
                            <input type="text" class="form-control" placeholder="Enter company name" id="name1" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="address1">Địa chỉ:</label>
                            <input type="text" class="form-control" placeholder="Enter address" id="address1" name="address" value="">
                        </div>
                        <div class="form-group">
                            <label for="represent_name1">Người đại diện:</label>
                            <input type="text" class="form-control" placeholder="Enter represent name" id="represent_name1" name="represent_name" value="">
                        </div>
                        <div class="form-group">
                            <label for="total_price">Tổng tiền đã mua:</label>
                            <input type="text" class="form-control" id="total_price" name="total_price" value="" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnEdit" type="button" class="btn btn-search" data-dismiss="modal" onclick="edit(this)">Cập nhật</button>
                    <button type="button" class="btn btn-search" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>