<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>

    <th:block th:insert="~{common/library :: head/script}"></th:block>
    <th:block th:insert="~{common/library :: head/link}"></th:block>
    <script th:src="@{/resources/js/customer.js}" src="../resources/js/customer.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script th:src="@{/resources/js/header.js}" src="../../js/header.js"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/resources/css/header.css}" href="../../../css/header.css">
    <link rel="stylesheet" type="text/css"  th:href="@{/resources/css/customer.css}" href="../../../css/customer.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}" href="../css/main.css">
</head>
<body>
<th:block th:insert="~{/fragments/spinner :: #loader}"></th:block>
<div class="wrapper" style="display: none">
    <!-- Sidebar -->
    <nav th:replace="~{/common/menu :: nav}"></nav>

    <!-- Page Content  -->
    <div id="content">
        <!-- Header -->
        <nav th:replace="~{/common/header :: nav}"></nav>
        <div class="container">
            <h2 class="text-center">Quản lý khách hàng</h2>
            <form id="frmSearch" class="form-row d-flex justify-content-around align-items-center align-self-center">
                <div class="col-md-3 form-group">
                    <label for="usr">Tên khách hàng:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <!--Date picker -->
                <div class='col-md-3'>
                    <label class="form-label">Ngày sinh :</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="birthday"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-search" onclick="search()">Tìm kiếm</button>
                    <button type="button" class="btn btn-search" onclick="search()">Thêm</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên công ty</th>
                        <th>Địa chỉ</th>
                        <th>Người đại diện</th>
                        <th>Sản phẩm đã mua</th>
                        <th>Thời gian</th>
                        <th>Tổng tiền</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="customerListTable">
<!--                    <tr th:each="customer : ${customerList}">-->
<!--                        <td>Tháng <span th:text="${#dates.format(price.createdAt, 'MM-yyyy')}"></span></td>-->
<!--                        <td><span th:text="${customer.name}"></span></td>-->
<!--                        <td><span th:text="${customer.address}"></span></td>-->
<!--                        <td><span th:text="${customer.getRepresentName()}"></span></td>-->
<!--                        <td><span th:text="${customer.getInvoiceList()}"></span></td>-->
<!--                        <td><span th:text="${price.garbagePrice}"></span></td>-->
<!--                        <td><span th:text="${price.total}"></span></td>-->
<!--                        <td><span th:text="${price.status ? 'Đã nộp' : 'Chưa nộp'}"></span></td>-->
<!--                        <td><span th:text="${price.note}"></span></td>-->
<!--                        <td><span th:text="${#dates.format(price.depositedAt, 'dd/MM/yyyy')}"></span></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>